.over {

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;

    background-size: cover;
    z-index: -100;


}

body {
    font-family: serif;
    font-size: 15px;
    color: rgb(253, 243, 243);

}

.grand {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.74);
    backdrop-filter: blur(5px);
    flex-wrap: wrap;

}

.tt {
    background-image: 'url(${avata})';
    background-size: cover;
    width: 100%;
    height: 0px;


}

.pp {
    padding-top: 400px;
}





.grand1 {

    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    border-radius: 15px;
    animation: slide 5s infinite;
    background-color: rgba(3, 2, 14, 0.623);
    backdrop-filter: blur(5px);

}

footer {
    animation: slide 5s infinite;
    background-color: rgba(0, 0, 0, 0.671);
    backdrop-filter: blur(5px);
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 90px;

}


b {
    margin-top: 170px;
}








h3 {
    text-transform: uppercase;
    color: aqua;
    font-size: 15px;
    text-align: center;
}

h1 {
    padding-top: 100px;
    text-align: center;
    color: aqua;
    text-transform: uppercase;
}

b {
    text-transform: uppercase;
}


*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
    font-size: 15px;
    overflow-x: hidden;
    color: rgb(253, 243, 243);

}

.pio nav h2 {
    font-size: 20px;
    color: beige;

}

.pio nav span {
    font-size: 30px;
    color: aqua;
    text-decoration: none;
}

header {
    border-radius: 15px;
    background-color: rgb(15, 1, 1);
    height: 65px;
    width: 100%;
    margin-right: auto;
    box-shadow: -20px -10px 10px 10px rgb(6, 253, 253);
    position: fixed;
    z-index: 101;
}


nav {

    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;

}

nav ul {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

nav ul li {
    list-style: none;
    margin-left: 70px;

}

nav ul li a {
    text-decoration: none;
    transition-duration: 1s;

    color: azure;

}



.diaporama {

    width: 100%;
    overflow: hidden;
    white-space: nowrap;

}

.diaporama img {
    width: 200px;
    height: 150px;
    margin-bottom: 30px;
    display: inline-flex;
    flex-wrap: wrap;

}

nav ul li a.active {
    color: aqua;
}

span {
    text-transform: uppercase;
    color: aqua;
}

.diaporama {
    animation: defilement 10s linear infinite;
}



.mouse {
    height: 50px;
    width: 50px;
    position: absolute;
    border: 1px outset aqua;
    border-radius: 70px;
    z-index: 100;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

@media (max-width: 468px) {
    .page .pg {
        margin-top: 1300px;
        margin-bottom: 500px;
    }
}