.crud-container {
    padding: 20px;
    height: 100vh;
    max-width: 600px;
    margin: 15px auto;
    background: #b3a7a7d5;
    border-radius: 25px;
    padding-top: 100px;
    margin-top: 400px;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;

}


.crud-container h2 {
    text-align: center;
    margin-bottom: 15px;
    color: black;
}

.form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: 0.3s ease;
}

.form input:focus {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.form button {
    width: 100%;
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.user-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.user-item {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #007bff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 0.5s ease;
}

.user-item button {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: #28a745;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.user-item button:last-child {
    background: #dc3545;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width:600px) {
    .crud-container {

        padding: 10px;
        height: 100%;
        max-width: 600px;
        margin: 15px auto;
        background: #b3a7a7d5;
        border-radius: 25px;
        padding-top: 100px;
        margin-top: 500px;
        margin-bottom: 100px;
        align-items: center;
        justify-content: center;



    }

    .form {
        width: auto;
        align-items: center;
        justify-content: center;
    }

    .user-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-item div {
        margin-top: 10px;
    }
}