.mon-compte-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;


}

/* Grille pour écran large */
.content-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
  max-height: 100vh;
  margin-top: 50px;



}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f07a;
  padding: 15px;
  border-radius: 5px;

}





.sidebar button {
  background-color: #ddd;
  border: none;
  padding: 15px;
  margin-bottom: 10px;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar button:hover,
.sidebar button.active {
  background-color: #007bff;
  color: #fff;
}

/* Zone principale */
.main-content {
  display: flex;
  background-color: #f9f9f9;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;

}



/* Responsive - pour les écrans plus petits */
@media (max-width: 768px) {
  .content-container {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    width: auto;
    margin: 0px, auto;
    flex-direction: row;
    justify-content: space-around;
    padding: 3px;
    margin-bottom: 1px;
    align-items: center;
    justify-content: center;
    background-color: black;
  }

  .sidebar button {
    margin-bottom: 0;
    flex: 1;
    margin: 0 5px;
    padding: 3px;
    font-size: 15px;
  }

  .main-content {
    width: auto;
    margin: 0px, auto;
    justify-content: space-around;
    padding: 3px;
    margin-bottom: 1px;
    align-items: center;
    justify-content: center;

  }



}