.App {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(./bg.jpg);
  margin-bottom: 15px;
  touch-action: manipulation;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  flex-direction: row;
  position: fixed;

  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-mob {
  display: none;
}

.active-link {
  text-transform: capitalize;
  background-size: 8px;
  color: white;
  background-color: blue;
  font-weight: bold;
  border-radius: 1px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
  color: red;
}



h1 {
  color: white;
  font-size: 50px;
}

h2 {
  color: #fcf2f2;
  text-align: center;
  margin-bottom: 20px;
}

form {
  background: #333131;
  backdrop-filter: blur(25px);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

#gender {
  text-align: center;
  justify-content: center;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #fff6f6;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  width: 100%;
  padding: 1px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
  margin-top: 15px;
  color: #fcf9f9;
}

input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}





.App-logo {
  height: 40vmin;
  pointer-events: none;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0c1113;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
    padding-bottom: 70px;
  }

  h1 {
    font-size: 14px;
    flex-wrap: wrap;
  }

  p {
    font-size: 14px;
    flex-wrap: wrap;
  }

  .nav-mob {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    width: 100%;
    padding: 5px 0;
    background-color: #faf8f8;
    z-index: 1000;
    flex-wrap: nowrap;
    border-top: 3px solid #ccc;
    text-decoration: none;


  }

  .nav-mob .active-link {
    text-transform: capitalize;
    text-decoration: none;
    color: blue;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;

  }

  .nav-mob Link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    color: inherit;
    color: black;
    text-decoration: none;
  }

  .nav-mob .lan {
    text-decoration: none;
  }




  .nav-mob svg {
    font-size: 30px;
    margin-bottom: 2px;
    display: block;
  }

  .nav-mob span {

    display: block;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 1px;
    color: #050505;
    text-decoration: none;
    font-size: 10px;
  }

}